body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 0;
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  
  color: black;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: black;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: purple;
}
div {
  background-color: white;
}

.top-container {
  background-color: #53cbf3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
